.header {
    width:100%;
    position:fixed;
    top:0;
    left:0;
    background-color:darkslategrey;
    color:white;
}
.header button {
    height:fit-content;
    border:none;
    background-color:darkslategrey;
    color:white;
}
.header button:hover {
    background-color:gray;
}

.header-right {
    position:fixed;
    top:0;
    right:0;
}
.footer {
    width:100%;
    position:fixed;
    bottom:0;
    left:0;
    background-color:darkslategray;
    color:white;
}
.footer button {
    height:fit-content;
    border:none;
    background-color:darkslategrey;
    color:white;
}
.footer button:hover {
    background-color:gray;
}
#color {
    margin-top:1%;
    display:none;
    border-style:solid;
    border-color:blue;
    border-width:2px;
    width:50%;
    position:absolute;
    right:0;
}